.btn-add {
  width: 120px;
  height: 38px;
  border: 2px solid #00c7f2;
  border-radius: 12px;
  background-color: #00c7f2;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-add:hover {
  background-color: #0858b1;
  border: 2px solid #0858b1;
}
.btn-view {
  width: 35px;
  height: 35px;
  border: 2px solid #0858b1;
  border-radius: 10px;
  background-color: #0858b1;
}

.btn-update {
  width: 35px;
  height: 35px;
  border: 2px solid rgb(241, 175, 53);
  border-radius: 10px;
  background-color: rgb(241, 175, 53);
}

.btn-delete {
  width: 35px;
  height: 35px;
  border: 2px solid red;
  border-radius: 10px;
  background-color: red;
  color: white;
}
.btn-view:hover {
  background-color: #377ac7;
  border: 2px solid #377ac7;
}
.btn-update:hover {
  background-color: rgb(240, 187, 90);
  border: 2px solid rgb(240, 187, 90);
}
.btn-delete:hover {
  background-color: rgb(252, 103, 103);
  border: 2px solid rgb(252, 103, 103);
}
.detail-movie-input{
  height: 38px;
  border-radius: 12px;
  margin-bottom: 20px;
}
.first-col{
  margin-right: 50px;
}
.second-col{
  margin-left: 50px;
}
